@import './reset.scss';
 
/* 样式开始 */
.none {
  display: none !important;
}

.FLEXROW {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-step {
 padding : .20rem 0;
 .title-main {
  font-weight: 600;
  font-size: .35rem;
  color: $primaryColor;
}
.title-desc {
  color: #666666;
  margin-top: 8px;
  font-size: .20rem;
}
}



.input-box-list {}

.input-box-title {
  font-size: .25rem;
  color: #9A9A9A;
  padding: .28rem 0;
}

.input-box {
  padding: .20rem 15px;
  background-color: #F7F7F7;
  border-radius: 6px;
  .normal-input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: .33rem;
    color: #333333;
  }
  span {
    font-size: .48rem;
    color: #333;
    font-weight: 700;
  }
  &.amount{
    .normal-input {
      font-size: .42rem;
      font-weight: 700;
      padding: 0 10px;
      &::-webkit-input-placeholder{
        font-size:.33rem;
        color: #CCCCCC;
        font-weight: 400;
      }
    }
    
  }
}

.userinfo {
  border: 1px solid #FC6631;
  border-radius: 8px;
  padding:  .2rem;
  margin: .1rem 0;
  color:#FC6631;
  .userinfo-list {
    font-size: .28rem;
  }
}

.copy-label {
  color:white;
  padding: 3px 10px;
  background-color:  $primaryColor;;
  position: relative;
  border-radius:5px ;
}

.submit-button-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 0 0.4rem 0.2rem;
  border-top: 1px solid #e6e6e6;
  .submit-button {
    width: 100%;
    margin: .2rem auto;
    text-align: center;
    background-color: #1970FA;
    color: white;
    font-size: .40rem;
    border-radius: 0.52rem;
    padding: 0.30rem 0;
  }
}




 

.confirm-Result{
  .result-img {
    width: 60%;
    margin: 10px auto;
    img {
      width: 100%;
    }
    
  }
  .result-text {
    font-size: .30rem;
    color: #333;
    font-weight: 600;
  }
}



.custom-dialog{
  .van-dialog__header{
    font-size: .35rem;
    color: #333;
    padding: 15px 0;
    font-weight: 600;
  }
  .van-dialog__content{
    font-size: .30rem;
    text-align: left;
    padding: .5rem 0.2rem;
  }
 .van-dialog__footer{
     padding-bottom:0.2rem ;
     .van-button::before{
       display: none;
     }
 }
  .van-dialog__cancel{
    .van-button__content{
      background-color: rgb(213, 205, 255);
      color: #1970FA;

    }
  }
  .van-button__content{
    border-radius: .5rem;
    background-color: #1970FA;
    color: white;
    padding: .2rem .5rem;
    width: 80%;
    margin:  0 auto;
    font-weight: 600;
  }
  [class*='van-hairline']::after{
    display: none;
  }
}